/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo {
  width: 50px;
  height: 50px;
}

.company-name {
  font-size: 1.5rem;
  margin-left: 10px;
}

.login-box {
  margin-top: 50px;
  background-color: #0c0b0b;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 80px;
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.connect-wallet-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.connect-wallet-button:hover {
  background-color: #45a049;
}
